body {
    background-color: rgb(203, 119, 203);
    font-family: Arial, Helvetica, sans-serif;
    
    filter: hue-rotate(45) ;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3.6px;
    word-spacing: 3.6px;
    color: #2a0031;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: -1px;
    word-spacing: -0.8px;
    color: #520061;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

img {
    width:200px;
    height:100%;
}

p {
    background-color: violet;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(247, 193, 193);
    text-shadow: rgb(122, 122, 122) 4px 3px 0px;
    text-align:center;
}

p {
    font-size: 16px;
}

